{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GenZ-Ed</title>
  <link rel="stylesheet" href="{% static 'teacherprofile/style.css' %}">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.entry.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.worker.min.js"></script>


</head>

<body>
  <!-- partial:index.partial.html -->
  <script src="{% static 'teacherprofile/b99e675b6e.js' %}"></script>

  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="hamburger__inner">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
      <div class="menu">
        <div class="logo">
          Genz Education
        </div>
        <div class="right_menu">
          <ul>
            <li><i class="fas fa-user"></i>
              <div class="profile_dd">
                <div class="dd_item">Profile</div>
                <div class="dd_item">Change Password</div>
                <a href='/'>
                  <div class="dd_item">Logout</div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main_container" id="main_container">
      <div class="sidebar">
        <div class="sidebar__inner">
          <div class="profile">
            <div class="img">
              <img src="{% static 'teacherprofile/8600.jpg' %}" alt="profile_pic">
            </div>
            <div class="profile_info">
              <p>Welcome</p>
              <p class="profile_name" id="profile_name">{{ username }}</p>
            </div>
          </div>
          <ul>
            <li>
              <div>
                <a href="#" class="active" id="profileButton" name="profileButton">
                  <span class="icon"><i class="fas fa-dice-d6"></i></span>
                  <span class="title">Profile</span>
                </a>
              </div>
            </li>
            <li>
              <a href="#" class="btn" id="classesButton" name="classesButton">
                <span class="icon"><i class="fab fa-delicious"></i></span>
                <span class="title">Classes</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn" id="materialButton" name="materialButton">
                <span class="icon"><i class="fas fa-file-export"></i></span>
                <span class="title">Materials</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn" id="insightsButton" name="insightsButton">
                <span class="icon"><i class="fas fa-chart-pie"></i></span>
                <span class="title">Insights</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn" id="settingsButton" name="settingsButton">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container" id="container">


        <div class="item1" id="item1" style="display:block;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 px-5 py-5">
                <div class="user-profile">
                  <div class="d-flex">
                    <!-- <div>
                      <img src="{% static 'teacherprofile/8600.jpg' %}" alt="User profile" style="width:100px; height:100px; object-fit:cover">
                    </div> -->
                    <div style="width:100%;margin-left:20px">
                      <table class="table table-bordered">

                        <!-- add your own data -->

                        <!--tr 1 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Name</td>
                          <td id="teacherName" class="teacherName">{{name}}</td>
                        </tr>

                        <!--tr 2 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">email</td>
                          <td id="teacherEmail" class="teacherEmail">{{email}}</td>
                        </tr>

                        <!--tr 3 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Teacher ID</td>
                          <td id="teacherUsername" class="teacherUsername">{{username}}</td>
                        </tr>

                        <!--tr 4 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Qualifications</td>
                          <td id="teacherQualification" class="teacherQualification"></td>
                        </tr>

                        <!--tr 5 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">School</td>
                          <td id="teacherSchool" class="teacherSchool"></td>
                        </tr>

                        <!--tr 6 -->
                        <tr>
                          <td class="text-capitalize" style="background:#bfbbbb;color:#403a3a">Address</td>
                          <td id="teacherAddress" class="teacherAddress"></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="inactive" id="item2" style="display:none;">

          <!-- <form class="row g-3"  > -->
          <div class="row g-3">
            <!-- {% csrf_token %} -->
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Username</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value={{username}}>
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Class Number</label>
              <input type="text" class="form-control" id="inputPassword2" placeholder="Class Number">
            </div>
            <div class="col-auto">
              <button type="submit" id="confirmClassButton" class="btn btn-primary mb-3" ">Confirm Class Number</button>
            </div>
          <!-- </form> -->
        </div>
          <br>
          <!-- <div class=" container d-grid mx-auto"> -->
                <div id="ErrorMessage"></div>
                <br>
                <button type="button" class="btn btn-secondary btn-lg" id="displayClassButton"><span
                    class="align-middle">Display
                    Classes</span></button>
                <!-- </div> -->
                <br>
                <br>
                <div id="ClassesDisplayed"></div>


            </div>


            <div class="inactive" id="item3" style="display:none;">

              <!-- <form> -->
              <div class="container d-grid mx-auto">
                <div class="row row-cols-2">
                  <div class="d-grid mx-auto">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      id="gradeSelector">
                      <option selected>Select the Grade</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="3">Four</option>
                      <option value="3">Five</option>
                    </select>
                  </div>
                  <div class="d-grid mx-auto">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      id="classNumberSelector">
                      <option selected>Select the Class Number</option>
                    </select>
                  </div>

                  <div class="d-grid mx-auto">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      id="courseSelector">
                      <option selected>Select the Course</option>
                      <option value="Maths">Maths</option>
                      <option value="Physics">Physics</option>
                      <option value="Chemistry">Chemistry</option>
                      <option value="Biology">Biology</option>
                    </select>
                  </div>
                  <div class="d-grid mx-auto">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                      id="moduleSelector">
                      <option selected>Select the module</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                      <option value="5">Five</option>
                      <option value="6">Six</option>
                      <option value="7">Seven</option>
                    </select>
                  </div>
                </div>

                <br>
                <br>

                <div>
                  <label for="formFileLg" class="form-label">Choose the File to Upload</label>
                  <input class="form-control form-control-lg" id="file-id" type="file" onChange="ExtractText();">
                  <!-- <input type="file" id="file-id" name="file_name" onchange="ExtractText();"> -->
                </div>

                <br>
                <br>
                <!-- <div id="note-textarea"></div> -->
                <!-- make a textarea using bootstrap -->
                <!-- <form class="form-floating"> -->
                <!-- <input type="text" class="form-control" id="note-textarea" placeholder=""
                    value="">
                  <label for="note-textarea">Extracted Text from PDF</label> -->
                <!-- </form> -->

                <textarea id="note-textarea" placeholder="Upload a pdf" rows="6" cols="85"></textarea>
                <br>
                <br>
                <div class="d-grid mx-auto">
                  <button type="submit" class="btn btn-primary" id="fileUploadButton">Upload Data</button>
                </div>
                <!-- </form> -->
              </div>

              <div class="inactive" id="item4" style="display:none;">
                Chart Element
              </div>

              <div class="inactive" id="item5" style="display:none;">
                Tables Element Text
              </div>
            </div>
          </div>

        </div>
        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src="{% static 'teacherprofile/script.js' %}"></script>

        <script type="text/javascript">
          //function to make csrf token cookie available to javascript
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');


          // function to add the class number so that teacher is associated with that class
          var confirmClassButton = document.getElementById('confirmClassButton');

          confirmClassButton.addEventListener('click', function (e) {
            e.preventDefault();
            var username = document.getElementById('staticEmail2').value;
            var classNumber = document.getElementById('inputPassword2').value;
            if (classNumber == '') {
              document.getElementById('ErrorMessage').innerHTML = '<div class="alert alert-danger" role="alert">Please enter the class number</div>';
            }
            else {
              document.getElementById('ErrorMessage').innerHTML = '<div class="alert alert-success" role="alert">Data Entered Successfully</div>';
              var url = '/UpdateClassNumber/';

              fetch(url, {
                method: 'POST',
                headers: {
                  'Content-type': 'application/json',
                  'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ 'username': username, 'classNumber': classNumber }),
              }).then(response => response.json())
                .then(data => {
                  // console.log('Success:', data);
                })
              document.getElementById('inputPassword2').value = '';

            }

            // console.log(username, classNumber);

          });


          // display class to display all the classes a teacher is associated with
          displayClassButton.addEventListener('click', function (e) {

            var username = document.getElementById('staticEmail2').value;

            var url = '/GetClassNumbers/'
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify({ 'username': username }),
            }).then(response => response.json())
              .then(data => {
                // console.log(data);
                // console.log( data.data[0]);
                var htmlcontent = '';
                for (var i = 0; i < data.data.length; i++) {
                  htmlcontent += '<div class="alert alert-success" role="alert">' + data.data[i] + '</div>';
                }
                // console.log(htmlcontent);
                document.getElementById('ClassesDisplayed').innerHTML = htmlcontent;

              })
          });
          // fetch(url)
          //   .then((resp) => resp.json())
          //   .then(function (data) {
          //     console.log(data);
          //   }
          //   )
          //   .catch(function (error) {
          //     console.log(error);
          //   });

          // selector which searches for all the class numbers and updates that selector with the options
          classNumberSelector.addEventListener('click', function (e) {

            var username = document.getElementById('staticEmail2').value;
            // console.log(username);
            var url = '/GetClassNumbers/'
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify({ 'username': username }),
            }).then(response => response.json())
              .then(data => {
                // console.log(document.getElementById('classNumberSelector').innerHTML.trim());
                if (document.getElementById('classNumberSelector').innerHTML.trim() == '<option selected="">Select the Class Number</option>') {
                  document.getElementById('classNumberSelector').innerHTML
                    = '<option selected>Select the Class Number</option>';
                  for (var i = 0; i < data.data.length; i++) {
                    var option = document.createElement("option");
                    option.text = data.data[i];
                    document.getElementById('classNumberSelector').add(option);
                  }
                }



              })
          });

          // extracts the text from the pdf file and displays it in the textarea
          var datass = '';
          var DataArr = [];
          PDFJS.workerSrc = '';
          function ExtractText() {
            var input = document.getElementById("file-id");
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            // console.log(input.files[0]);
            fReader.onloadend = function (event) {
              convertDataURIToBinary(event.target.result);
            }
          }

          var BASE64_MARKER = ';base64,';

          function convertDataURIToBinary(dataURI) {

            var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
            var base64 = dataURI.substring(base64Index);
            var raw = window.atob(base64);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            for (var i = 0; i < rawLength; i++) {
              array[i] = raw.charCodeAt(i);
            }
            pdfAsArray(array)

          }

          function getPageText(pageNum, PDFDocumentInstance) {
            // Return a Promise that is solved once the text of the page is retrieven
            return new Promise(function (resolve, reject) {
              PDFDocumentInstance.getPage(pageNum).then(function (pdfPage) {
                // The main trick to obtain the text of the PDF page, use the getTextContent method
                pdfPage.getTextContent().then(function (textContent) {
                  var textItems = textContent.items;
                  var finalString = "";

                  // Concatenate the string of the item to the final string
                  for (var i = 0; i < textItems.length; i++) {
                    var item = textItems[i];

                    finalString += item.str + "";
                  }

                  // Solve promise with the text retrieven from the page
                  resolve(finalString);
                });
              });
            });
          }

          function pdfAsArray(pdfAsArray) {

            PDFJS.getDocument(pdfAsArray).then(function (pdf) {

              var pdfDocument = pdf;
              // Create an array that will contain our promises
              var pagesPromises = [];

              for (var i = 0; i < pdf.pdfInfo.numPages; i++) {
                // Required to prevent that i is always the total of pages
                (function (pageNumber) {
                  // Store the promise of getPageText that returns the text of a page
                  pagesPromises.push(getPageText(pageNumber, pdfDocument));
                })(i + 1);
              }

              // Execute all the promises
              Promise.all(pagesPromises).then(function (pagesText) {

                // Display text of all the pages in the console
                // e.g ["Text content page 1", "Text content page 2", "Text content page 3" ... ]
                // console.log(pagesText); // representing every single page of PDF Document by array indexing
                // console.log(pagesText.length);
                var outputStr = "";
                for (var pageNum = 0; pageNum < pagesText.length; pageNum++) {
                  // console.log(pagesText[pageNum]);
                  outputStr = "";
                  outputStr = "";

                  var div = document.getElementById('note-textarea');

                  div.value += (outputStr + pagesText[pageNum]);

                }




              });

            }, function (reason) {
              // PDF loading error
              console.error(reason);
            });
          }

          // uploads the extracted text from pdf to the database

          fileUploadButton.addEventListener('click', function (e) {
            e.preventDefault();
            var username = document.getElementById('staticEmail2').value;
            var gradeNumber = document.getElementById('gradeSelector').value;
            var classNumber = document.getElementById('classNumberSelector').value;
            var courseName = document.getElementById('courseSelector').value;
            var moduleNumber = document.getElementById('moduleSelector').value;
            var Extractedtext = document.getElementById('note-textarea').value;
            // console.log(document.getElementById('note-textarea').value);
            data = {
              'username': username,
              'gradeNumber': gradeNumber,
              'classNumber': classNumber,
              'courseName': courseName,
              'moduleNumber': moduleNumber,
              'Extractedtext': Extractedtext
            }

            // var file = document.getElementById('formFileLg').value;
            // var fileName = file.split('\\');
            // var fileName = fileName[fileName.length - 1];
            var url = '/UploadExtractedText/';
            fetch(url, {
              method: 'POST',
              headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify(data),
            }).then(response => response.json())
              .then(data => {
                // console.log('Success:', data);
                document.getElementById('note-textarea').value = '';
                document.getElementById('file-id').value = '';
                document.getElementById('file-id').innerHTML = '';
                

              })
            
          });



        </script>

</body>

</html>